<html>

<head>

	<!-- seo related -->
	<title>Chatbot Frontend</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="static/main.css">

</head>

<body>

	<div class="container">

		<div class="row padded_row">
			{% if current_user.is_authenticated %}
			<!-- right side content -->
			<div class="col-md-7">

				<div class="chat_window">

					<div class="top_menu">
						<div class="title">对话助手</div>
					</div>

					<!-- dynamically rendered -->
					<ul class="messages"></ul>

					<!-- input -->
					<div class="bottom_wrapper">
						<input id="msg_input" placeholder="请输入..." />
						<div id="send_button" class="app_button_1">发送</div>
					</div>

				</div>

			</div>
			{% endif %}
			<!-- left side content -->
			<div class="col-md-5">
				<div class="chat_window">

					<div class="top_menu">
						<div class="title">帮助</div>

					</div>

					<!-- help container -->
					<div class="panel-group" id="accordion">

						<!-- help - 1 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title" style="line-height: 135%">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
										href="#collapse1">提示信息</a>
								</h4>
								{% if username %}
								<h4 class="panel-title">{{username}}</h4>
								<h4 class="panel-title" style="text-align: right"><a class="accordion-toggle" data-parent="#accordion" href="/logout">退出登录</a></h4>
								{% endif %}
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
                                    你好！我支持FAQ和领域问答KBQA功能，以下问题示例：<br/>
                                      "快递公司": 发什么快递公司<br/>
                                      "发货时间": 什么时候发货<br/>
                                      "发货地": 发货地是哪里<br/>
                                      "包邮": 商品包邮吗<br/>
                                      "退换货": 怎么退货<br/>
                                      "运费险": 有运费险吗<br/>
                                      "收货地址": 可以改收货地址吗<br/>
                                      "物流信息": 现在物流到哪里了<br/>
                                      "快递包装": 快递用什么包装<br/>
                                      "平台店铺优惠": 店铺有什么优惠<br/>
                                      "抽奖": 可以抽奖吗<br/>
                                      "商品质量": 是正品吗<br/>
                                      "已购买": 已经下单啦<br/>
                                      "客服": 人工客服时间<br/>

                                      "发票": 能开发票吗<br/>
                                      "打招呼": 你好<br/>
                                      "再见": 再见<br/>
                                      "你是谁": 这是真人还是假人<br/>
                                      "你能做什么": 你能做什么<br/>
                                      "感谢": 谢谢<br/>

                                      "直播感谢": 主播好可爱<br/>
                                      "直播关注": 我是主播的粉丝<br/>
                                      "直播进群": 有粉丝群吗<br/>
                                      "直播分享": 分享了直播间<br/>
                                      "直播自我介绍": 这是真人还是假人<br/><br/>
                                    还可以询问产品参数KBQA，产品库中有相应的属性则进行返回：<br/>
                                      "规格": 1号链接多重<br/>
                                      "成分": 产品成分有哪些<br/>
                                      "材质": 产品材质是什么<br/>
                                      "适用对象": 适用什么人群<br/>
                                      "效果": 效果怎样<br/>
                                      "副作用": 有什么副作用<br/>
                                      "包装": 包装是什么<br/>
                                      "气味": 是什么味道的<br/>
                                      "口味": 口味油腻吗<br/>
                                      "颜色": 是蓝色吗<br/>
                                      "质地": 质地怎么样<br/>
                                      "体验": 体验怎么样<br/>
                                      "保质期": 保质期是多久<br/>
                                      "生产日期": 什么时候生产的<br/>
                                      "用法用量": 1号链接怎么用<br/>
                                      "安装": 怎么安装<br/>
                                      "优惠": 1号链接有什么优惠<br/>
                                      "赠品": 有什么赠品吗<br/>
                                      "产地": 哪里产的<br/>
                                      "产品讲解": 能介绍一下1号链接吗<br/>
                                      "存储方式": 怎么保存<br/>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

	<!-- vendor script files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>

	<!-- custom scripts -->
	<script>
        $(document).ready(function(){
          $("#msg_input").keydown(function(event){  //给按钮绑定keydown事件
              if(event.keyCode==13){  
                  $("#send_button").click();  //触发文本框的点击事件
              }  
          });
        })
    </script>
    <script src="static/main.js"></script>
</body>

</html>