<html>

<head>

	<!-- seo related -->
	<title>Chatbot Frontend</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="static/main.css">

</head>

<body>

	<div class="container">

		<div class="row padded_row">
			{% if current_user.is_authenticated %}
			<!-- right side content -->
			<div class="col-md-7">

				<div class="chat_window">

					<div class="top_menu">
						<div class="title">对话助手</div>
					</div>

					<!-- dynamically rendered -->
					<ul class="messages"></ul>

					<!-- input -->
					<div class="bottom_wrapper">
						<input id="msg_input" placeholder="请输入..." />
						<div id="send_button" class="app_button_1">发送</div>
					</div>

				</div>

			</div>
			{% endif %}
			<!-- left side content -->
			<div class="col-md-5">
				<div class="chat_window">

					<div class="top_menu">
						<div class="title">帮助</div>

					</div>

					<!-- help container -->
					<div class="panel-group" id="accordion">

						<!-- help - 1 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title" style="line-height: 135%">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
										href="#collapse1">提示信息</a>
								</h4>
								{% if username %}
								<h4 class="panel-title">{{username}}</h4>
								<h4 class="panel-title" style="text-align: right"><a class="accordion-toggle" data-parent="#accordion" href="/logout">退出登录</a></h4>
								{% endif %}
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									你好！我支持FAQ和领域问答功能，也可以与您闲聊。
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

	<!-- vendor script files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>

	<!-- custom scripts -->
	<script src="static/main.js"></script>
</body>

</html>